<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery>
  <image imageURL="images/251-MT-Berlin-Werder-Bauaka.jpg"
	thumbURL="thumbs/251-MT-Berlin-Werder-Bauaka.jpg"
	linkURL="images/251-MT-Berlin-Werder-Bauaka.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tobiaszillmer/Desktop/Berlin1880/gallery2/251-MT-Berlin-Werder-Bauaka.jpg"

>
    <title><![CDATA[Vogelsicht auf die alte Münze und dem Werderschen Markt]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/263-MT-Berlin-Bauaka.jpg"
	thumbURL="thumbs/263-MT-Berlin-Bauaka.jpg"
	linkURL="images/263-MT-Berlin-Bauaka.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tobiaszillmer/Desktop/Berlin1880/gallery2/263-MT-Berlin-Bauaka.jpg">
    <title><![CDATA[Vogelsicht über die Bauakademie]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/273-MT-Berlin-Werder.jpg"
	thumbURL="thumbs/273-MT-Berlin-Werder.jpg"
	linkURL="images/273-MT-Berlin-Werder.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tobiaszillmer/Desktop/Berlin1880/gallery2/273-MT-Berlin-Werder.jpg">
    <title><![CDATA[Alte Münze Berlin]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/279_bearb.jpg"
	thumbURL="thumbs/279_bearb.jpg"
	linkURL="images/279_bearb.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tobiaszillmer/Desktop/Berlin1880/gallery2/279_bearb.jpg">
    <title><![CDATA[Kaufhaus Gerson]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/280_bearb.jpg"
	thumbURL="thumbs/280_bearb.jpg"
	linkURL="images/280_bearb.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tobiaszillmer/Desktop/Berlin1880/gallery2/280_bearb.jpg">
    <title><![CDATA[Alte Münze und das Kaufhaus Gerson]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/283.jpg"
	thumbURL="thumbs/283.jpg"
	linkURL="images/283.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tobiaszillmer/Desktop/Berlin1880/gallery2/283.jpg">
    <title><![CDATA[Blick auf die Schlossfreiheit]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/307.jpg"
	thumbURL="thumbs/307.jpg"
	linkURL="images/307.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tobiaszillmer/Desktop/Berlin1880/gallery2/307.jpg">
    <title><![CDATA[Lustgarten]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/308.jpg"
	thumbURL="thumbs/308.jpg"
	linkURL="images/308.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tobiaszillmer/Desktop/Berlin1880/gallery2/308.jpg">
    <title><![CDATA[Schleusenbrücke]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/317.jpg"
	thumbURL="thumbs/317.jpg"
	linkURL="images/317.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tobiaszillmer/Desktop/Berlin1880/gallery2/317.png">
    <title><![CDATA[Schlossbrücke]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/323.jpg"
	thumbURL="thumbs/323.jpg"
	linkURL="images/323.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tobiaszillmer/Desktop/Berlin1880/gallery2/323.jpg">
    <title><![CDATA[Kufpergraben]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Friedrichsbruecke.jpg"
	thumbURL="thumbs/Friedrichsbruecke.jpg"
	linkURL="images/Friedrichsbruecke.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tobiaszillmer/Desktop/Berlin1880/Montags Tobi/Friedrichsbruecke.jpg">
    <title><![CDATA[Friedrichsbrücke]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/337_bearb_blick_Packhof_kupfergraben-PS.jpg"
	thumbURL="thumbs/337_bearb_blick_Packhof_kupfergraben-PS.jpg"
	linkURL="images/337_bearb_blick_Packhof_kupfergraben-PS.jpg"
	linkTarget="_blank"
	sourcePath="/Users/tobiaszillmer/Desktop/Berlin1880/Montags Tobi/337_bearb_blick_Packhof_kupfergraben-PS.jpg">
    <title><![CDATA[Blick in den Kupfergraben]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>